<div data-spy="affix" data-offset-top="160" data-offset-bottom="200">
<nav class="hidden-print hidden-sm">
	<ul>
		<li>General</li>
		<li>Compensation and Benefits</li>
		<li>Performance</li>
		<li>Time off and Sick Leave</li>
		<li>Documents</li>
	</ul>
	<a href="#top">Back to top</a>
</nav>
</div>